# X session autostart

if [ "$DESKTOP_SESSION" = "awesome" ]; then
    export QT_QPA_PLATFORMTHEME="qt5ct" # needed for the qt themes to work if using wm
    xset s off -dpms #supposed fix for monitor energy saving
fi

# kglobalaccel breaks stuff when no kde
